@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);

.slide-in {
  animation: slide-in 20s linear 0s 1;
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 10s linear 4s infinite;
}

@keyframes slide-up {
  0% {
    transform: translateY(-0%);
    opacity: 1;
  }

  10%,
  90% {
    transform: translateY(-42%);
    opacity: 1;
  }

  94% {
    transform: translateY(-62%);
    opacity: 0;
  }

  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  width: 50px;
  height: 25px;
  color: white;
  background-color: green;
}

.left-arrow {
  display: inline-block;
}

.right-arrow {
  display: inline-block;
  transform: rotate(180deg);
}

.up-arrow {
  margin: auto;
  transform: rotate(90deg);
}

.down-arrow {
  margin: auto;
  transform: rotate(270deg);
}

.hidden {
  display: none;
}

.shutter-btn {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin: 5% auto 0 auto;
  border: 2px solid black;
  background-color: red;
}

.green-btn {
  background-color: rgb(106, 204, 106);
  border: 2px solid black;
}

.yellow-btn {
  background-color: rgb(161, 161, 161);
  border: 2px solid rgb(77, 77, 77);
}

.record-btn {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin: -11px auto 11px auto;
}

#flower-modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.flower-modal-content {
  height: 35px;
  width: 225px;
  margin: 12% auto 0 auto;
}

.btn-ok {
  background-color: #2089c6;
  color: white;
}

.btn-close {
  background-color: red;
  color: white;
}

.modal-content {
  height: 50px;
}

#fb-modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;

  /* background-color: rgb(235, 229, 199);
  width: 89%;
  position: absolute;
  top: 80px;
  z-index: 1; */
}

.fb-modal-content {
  background-color: rgb(235, 229, 199);
  margin: 4% auto 0 auto;
  width: 16%;
}

.cemetery {
  margin-bottom: 30px;
  margin-top: -14px;
  line-height: 1.4em;
  padding: 0 12px;
}

.fb-memorial {
  line-height: 1.4em;
  padding: 0 12px;
}

.fb-prompt {
  background-color: rgb(206, 202, 180);
  padding: 15px 5px 15px 5px;
}

.fb-question {
  margin-bottom: 0;
}
#yes {
  margin: 3px;
}
.yes {
  margin: 4px;
  display: inline-block;
}
#no {
  margin: 3px;
}

.no {
  margin: 4px;
  display: inline-block;
}

.hidden {
  display: none;
}

.location-data {
  position: absolute;
  text-align: left;
}

.location-data p {
  margin: 0;
}

.saved-data {
  position: absolute;
  text-align: left;
  top: 60%;
}

.saved-data p {
  margin: 0;
}

.full-window {
  position: relative;
  display: inline-block;
  padding: 13% 1% 1% 1%;
  background-color: rgb(239 213 213);
  height: 500px;
  width: 250px;
  vertical-align: middle;
  z-index: 1;
}

.family-view-window {
  position: relative;
  display: inline-block;
  padding: 1%;
  background-color: rgb(239 213 213);
  height: 500px;
  width: 250px;
  vertical-align: middle;
  z-index: 1;
}

.full-window.search {
  padding: 2% 1% 1% 1%;
}

.camera-window {
  width: 100%;
  height: 130px;
  background-color: rgb(172, 190, 230);
}

.half-window {
  position: relative;
  border-top: 1px solid black;
  padding-top: 12%;
  background-color: rgb(230, 172, 172);
  height: 250px;
  width: 250px;
  margin: auto;
  vertical-align: middle;
  z-index: 1;
}

.image-box {
  max-width: 100%;
  margin: 0 auto;
}

.icon-box-right {
  position: absolute;
  top: 13%;
  right: 3%;
  transform-origin: top right;
  transform: scale(0.25);
}

.headstone-img {
  height: 158px;
}

.headstone-img {
  max-width: 220px;
  border-radius: 6%;
}

.person-img {
  max-width: 90%;
  border-radius: 6%;
}

.tree-img {
  position: absolute;
  width: 17%;
  margin: 2% 0 0 2%;
}
.image-zoom {
  height: initial;
  width: 90%;
}

#edit-form input {
  font-size: 9px;
}

.search-details {
  position: absolute;
  bottom: 5%;
  padding: 8% 6% 0% 6%;
  background-color: rgb(192 168 195);
  height: 215px;
  width: 91%;
}

.display-detail {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  padding-top: 63%;
  width: 100%;
}

.display-detail h5 {
  padding: 5% 5% 0 5%;
}

.display-details {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(151 179 183);
  min-height: 22%;
  width: 100%;
}

.display-details div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1%;
  width: 84%;
}

.display-details-sm {
  position: absolute;
  top: 0;
  background-color: rgba(49, 74, 156, 0.4);
  padding: 5% 5%;
  height: 20%;
  width: 100%;
}

#flower {
  width: 85%;
  margin: 0 auto;
}

#flower td {
  width: 12%;
  height: 37px;
}

#flower td img {
  max-width: 100%;
}

.flower-btn {
  font-size: 0.9em;
  margin: 4px 0 7px 0;
  padding: 1px 6px 2px 6px;
  border-color: #6090cc;
  background-color: #2089c6;
}

.flower-btn:hover {
  border-color: #2089c6;
  background-color: #2089c6;
}

.flower-container {
  margin-top: -74px;
}

.donor-box {
  background-color: rgb(232 190 241);
  position: absolute;
  left: 0;
  bottom: 9px;
  height: 3em;
  width: 100%;
}

.donor-header {
  font-size: 0.8em;
  color: rgb(90, 90, 90);
  height: 25px;
  margin: 0;
  padding-top: 5px;
}

.donors {
  border-top: solid 6px rgb(232 190 241);
  border-bottom: solid 8px rgb(232 190 241);
  overflow: hidden;
  padding-left: 0;
  font-size: 0.8em;
  list-style-type: none;
  background-color: rgb(232 190 241);
  color: rgb(100, 100, 100);
  height: 30px;
  line-height: 5em;
}

.image-box h6 {
  margin: 6px 8px 4px 8px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.poem-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.poem-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.poem-scroll {
  height: 355px;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  box-sizing: content-box;
}

.poem {
  white-space: pre-wrap;
  font-size: 0.65em;
  width: 100%;
}

.poem h6 {
  margin: 7px 16px 9px 16px;
}

.edit-details {
  display: none;
  padding: 10% 5%;
  position: absolute;
  bottom: 5%;
  background-color: rgba(49, 74, 156, 0.4);
  height: 270px;
  width: 80%;
  margin-left: 35px;
}

.edit-details-sm {
  display: none;
  position: absolute;
  bottom: 5%;
  background-color: rgba(49, 74, 156, 0.4);
  padding: 5% 5%;
  height: 73%;
  width: 80%;
  margin-left: 35px;
}

.details-btn {
  position: absolute;
  bottom: 30%;
  left: -60%;
  transform: rotate(270deg);
  color: white;
  background-color: blue;
  height: 25px;
  width: 130%;
}

.small-details-btn {
  position: absolute;
  bottom: 35%;
  transform: rotate(270deg);
  color: white;
  background-color: blue;
  height: 25px;
  left: -35%;
  width: 80%;
}
