@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);

.slide-up {
  transform: translateY(100%);
  animation: slide-up 40s linear infinite;
}

@keyframes slide-up {
  0% {
    transform: translateY(80%);
  }

  10% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-600%);
  }
}

.fade-in {
  animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  width: 50px;
  height: 25px;
  color: white;
  background-color: green;
}

.left-arrow {
  display: inline-block;
}

.right-arrow {
  display: inline-block;
  transform: rotate(180deg);
}

.up-arrow {
  margin: auto;
  transform: rotate(90deg);
}

.down-arrow {
  margin: auto;
  transform: rotate(270deg);
}

.hidden {
  display: none;
}

.shutter-btn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 5% auto 0 auto;
  border: 3px solid black;
  background-color: red;
}

.green-btn {
  background-color: rgb(106, 204, 106);
  border: 2px solid black;
}

.yellow-btn {
  background-color: rgb(161, 161, 161);
  border: 2px solid rgb(77, 77, 77);
}

.record-btn {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin: -11px auto 11px auto;
}

/* .rec-status {
  position: absolute;
  font-size: 1.3em;
  top: 8px;
  left: 0;
  right: 0;
  z-index: -1;
} */

#flower-modal {
  width: 91%;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

#fb-modal {
  background-color: rgb(235, 229, 199);
  width: 92%;
  position: absolute;
  top: 100px;
  z-index: 1;
}

.cemetery {
  margin-bottom: 30px;
  margin-top: -14px;
  line-height: 1.4em;
  padding: 0 12px;
}

.fb-memorial {
  line-height: 1.4em;
  padding: 0 12px;
}

.fb-prompt {
  background-color: rgb(206, 202, 180);
  padding: 15px 5px 15px 5px;
}

.fb-question {
  margin-bottom: 0;
}
#yes {
  margin: 3px;
}
.yes {
  margin: 4px;
  display: inline-block;
}
#no {
  margin: 3px;
}

.no {
  margin: 4px;
  display: inline-block;
}

.hidden {
  display: none;
}

.location-data {
  position: absolute;
  text-align: left;
}

.location-data p {
  margin: 0;
}

.saved-data {
  position: absolute;
  text-align: left;
  top: 60%;
}

.saved-data p {
  margin: 0;
}

.full-window {
  position: relative;
  display: inline-block;
  padding: 13% 1% 1% 1%;
  background-color: rgb(230, 172, 172);
  height: 500px;
  width: 250px;
  vertical-align: middle;
  z-index: 1;
}

.full-window.search {
  padding: 2% 1% 1% 1%;
}

.camera-window {
  width: 100%;
  height: 130px;
  background-color: rgb(172, 190, 230);
}

.half-window {
  position: relative;
  border-top: 1px solid black;
  padding-top: 12%;
  background-color: rgb(230, 172, 172);
  height: 250px;
  width: 250px;
  margin: auto;
  vertical-align: middle;
  z-index: 1;
}

.image-box {
  position: relative;
  max-width: 88%;
  margin: 0 auto;
}

.icon-box {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: scale(0.45);
}
/* 
.icon-box:hover {
  transform: scale(0.6);
} */

.headstone-img {
  height: 150px;
}

.image-zoom {
  height: initial;
  width: 100%;
}

.person-icon-box img,
.headstone-icon-box img {
  transform-origin: top right;
  transform: scale(0.6);
}

#edit-form input {
  font-size: 9px;
}

.search-details {
  position: absolute;
  bottom: 5%;
  padding: 8% 6% 0% 6%;
  background-color: rgba(49, 74, 156, 0.4);
  height: 215px;
  width: 91%;
}

.display-detail {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  padding-top: 63%;
  width: 100%;
}

.display-detail h5 {
  padding: 5% 5% 0 5%;
}

.display-details {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(49, 74, 156, 0.4);
  min-height: 22%;
  width: 100%;
}

.display-details div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1%;
  width: 84%;
}

.display-details-sm {
  position: absolute;
  top: 0;
  background-color: rgba(49, 74, 156, 0.4);
  padding: 5% 5%;
  height: 20%;
  width: 100%;
}

#flower {
  width: 75%;
  margin: 0 auto;
}

#flower td {
  width: 20%;
  height: 37px;
}

#flower td img {
  max-width: 100%;
}

.flower-btn {
  font-size: 0.9em;
  margin: -0 0 6px 0;
  padding: 1px 6px 2px 6px;
  border-color: #6090cc;
  background-color: #2089c6;
}

.flower-btn:hover {
  border-color: #2089c6;
  background-color: #2089c6;
}

.donors {
  border-top: solid 4px rgba(138, 63, 153);
  overflow: hidden;
  padding-left: 0;
  margin: 0 -25px 0 -25px;
  font-size: 0.8em;
  list-style-type: none;
  margin: 0 -25px 0 -25px;
  background-color: rgb(138, 63, 153);
  color: white;
  height: 25px;
  line-height: 5em;
}

.image-box h6 {
  margin-top: 6px;
}

.poem-scroll {
  height: 355px;
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}

.poem {
  white-space: pre-wrap;
  font-size: 0.65em;
  width: 100%;
  margin-left: 8px;
}

.poem::-webkit-scrollbar {
  display: none;
}

.edit-details {
  display: none;
  padding: 10% 5%;
  position: absolute;
  bottom: 5%;
  background-color: rgba(49, 74, 156, 0.4);
  height: 270px;
  width: 80%;
  margin-left: 35px;
}

.edit-details-sm {
  display: none;
  position: absolute;
  bottom: 5%;
  background-color: rgba(49, 74, 156, 0.4);
  padding: 5% 5%;
  height: 73%;
  width: 80%;
  margin-left: 35px;
}

.details-btn {
  position: absolute;
  bottom: 30%;
  left: -60%;
  transform: rotate(270deg);
  color: white;
  background-color: blue;
  height: 25px;
  width: 130%;
}

.small-details-btn {
  position: absolute;
  bottom: 35%;
  transform: rotate(270deg);
  color: white;
  background-color: blue;
  height: 25px;
  left: -35%;
  width: 80%;
}
