@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);

.hidden {
  display: none;
}

.location-data {
  position: absolute;
  text-align: left;
}

.location-data p {
  margin: 0;
}

.saved-data {
  position: absolute;
  text-align: left;
  top: 60%;
}

.saved-data p {
  margin: 0;
}

.arrow {
  width: 50px;
  height: 25px;
  color: white;
  background-color: green;
}

.left-arrow {
  display: inline-block;
}

.right-arrow {
  display: inline-block;
  transform: rotate(180deg);
}

.up-arrow {
  margin: auto;
  transform: rotate(90deg);
}

.down-arrow {
  margin: auto;
  transform: rotate(270deg);
}

.full-window {
  position: relative;
  display: inline-block;
  padding: 13% 1% 1% 1%;
  background-color: rgb(230, 172, 172);
  height: 500px;
  width: 250px;
  vertical-align: middle;
  z-index: 1;
}

.full-window.search {
  padding: 2% 1% 1% 1%;
  margin-top: 64px;
}

.camera-window {
  width: 100%;
  height: 130px;
  background-color: rgb(172, 190, 230);
}

.half-window {
  position: relative;
  border-top: 1px solid black;
  padding-top: 12%;
  background-color: rgb(230, 172, 172);
  height: 250px;
  width: 250px;
  margin: auto;
  vertical-align: middle;
  z-index: 1;
}

#edit-form input {
  font-size: 9px;
}

.search-details {
  /* display: none; */
  /* margin-top: 35%; */
  position: absolute;
  bottom: 5%;
  padding: 9% 6% 6% 6%;
  background-color: rgba(49, 74, 156, 0.4);
  height: 300px;
  width: 91%;
}

.display-detail {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  padding-top: 9%;
  height: 20%px;
  width: 100%;
}

.display-details {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  padding-top: 9%;
  background-color: rgba(49, 74, 156, 0.4);
  height: 20%px;
  width: 100%;
}

.display-details-sm {
  /* display: none; */
  position: absolute;
  top: 0;
  background-color: rgba(49, 74, 156, 0.4);
  padding: 5% 5%;
  height: 20%;
  width: 100%;
  /* margin-left: 35px; */
}

.edit-details {
  display: none;
  padding: 10% 5%;
  position: absolute;
  bottom: 5%;
  background-color: rgba(49, 74, 156, 0.4);
  height: 270px;
  width: 80%;
  margin-left: 35px;
}

.edit-details-sm {
  display: none;
  position: absolute;
  bottom: 5%;
  background-color: rgba(49, 74, 156, 0.4);
  padding: 5% 5%;
  height: 73%;
  width: 80%;
  margin-left: 35px;
}

.details-btn {
  position: absolute;
  bottom: 30%;
  left: -60%;
  transform: rotate(270deg);
  color: white;
  background-color: blue;
  height: 25px;
  width: 130%;
}

.small-details-btn {
  position: absolute;
  bottom: 35%;
  transform: rotate(270deg);
  color: white;
  background-color: blue;
  height: 25px;
  left: -35%;
  width: 80%;
}
